body{
   font-family: sans-serif;
}
.wrapper{
  width: 600px;
  margin: 0 auto;
}
.name{
  font-size: 3.2em;
}
.subtitle{
  font-size: 2.3em;
  color: darkcyan;
}
.about{
  font-style: italic;
}
.about li{
  list-style: square outside;
}
.about-title{
  font-style: normal;
  color: darkcyan;
}
.about-subtitle{
  font-style: normal;
  font-size: 1.3em;
}
.name{
  font-style: normal;
  background: darkcyan;
}
.list li {
  list-style: square outside;
  font-style: italic;
}
.skills{
  font-style: normal;
  color: darkcyan;
}